@keyframes dash-heading {
  0% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.dash-card {
  width: 10em;
  height: 2.4em;
  font-size: xx-large;
  background-color: #e9efec;
  transition: height 1s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.dash-card-header {
  text-align: center;
  transition: transform 1s ease;
  padding-bottom: 1em;
}

.dash-card-content {
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
  overflow: hidden;
  font-size: large;
}

.dash-card:hover {
  height: 5em;
  background-color: #d9e9e1;
}

.dash-card:hover .dash-card-content {
  max-height: 5em;
  opacity: 1;
  font-size: large;
}

.dash-card:not(:hover) .dash-card-content {
  max-height: 0;
  opacity: 0;
}

.dash-card-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .dash-card-container {
    flex-direction: column;
  }

  .dash-card {
    width: 92%;
  }
}
