<div class="heading-container center-content">
  <div class="heading-text">Dashboard</div>
</div>
<div class="dash-card-container">
  <mat-card class="dash-card" routerLink="/lotto-numbers">
    <mat-card-header class="dash-card-header">Lotto Numbers</mat-card-header>
    <mat-card-content class="dash-card-content">
      I've never played lotto myself, but often get asked for lotto numbers...
    </mat-card-content>
  </mat-card>
  <mat-card class="dash-card" routerLink="/quick-list">
    <mat-card-header class="dash-card-header">Quick List</mat-card-header>
    <mat-card-content class="dash-card-content">
      An easy list for quick reference.
    </mat-card-content>
  </mat-card>
</div>
